# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Flask instance and cache
instance/
*.db

# Docker files
*.pid
*.tar
docker-compose.override.yml

# IDE settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
